In [1]:
#Convert an integer to a floating point number
a = 35
b = float(a)
print(b)

35.0

In [2]:
type(b)

float

In [3]:
#Convert a float to an integer
s = 42.5
r = int(s)
print(r)

42

In [4]:
#Convert an integer to a string
a = 35
b = str(a)
print(b)
print(type(b))

35
<class 'str'>

In [5]:
#Convert a  list to a tuple
l = ["Apple", "Mango", "Orange"]
t = tuple(l)
print(t)
print(type(t))

('Apple', 'Mango', 'Orange')
<class 'tuple'>

In [6]:
#Convert a tuple to a list
t = (1,2,3,4,5)
l = list(t)
print(l)
print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

In [7]:
#Convert a decimal number to binary
num = 14
x = bin(num)
print(x)

0b1110

In [8]:
#Convert a non zero number to boolean
x = 20
y = bool(x)
print(y)

True